.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px 0 60px 0;

  .left h2 {
    font-size: 18px;
    font-weight: 900;
    line-height: 46px;
    margin: 0;
  }
}
// media
@media only screen and (max-width:576px) {
.sectionHeader{
  flex-direction: column;
}

}
