.wrapper {
  position: relative;
  padding: 20px 0;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dotLineWrapper {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dotLine {
  width: 18px;
  height: 2px;
  background-color: #898989;
}

.activeDot {
  position: absolute;
  top: 50%;
  left: -10px;
  width: 15px;
  height: 15px;
  background-color: #E8AA31;
  border-radius: 50%;
  transform: translateX(0) translateY(-50%);
  transition: transform 0.4s ease;
  pointer-events: none;
  z-index: 2;
}
